body {
    margin: 0;
}

body,
#root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 2rem;
}

#voting p {
    font-size: 1.4rem;
}

#voting div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#voting div button {
    margin: 0.5rem 0;
    height: 3rem;
    font-size: 1.4rem;
    background: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}